a:link, a:visited, a:active {
  color: black;
  text-decoration: underline;
}

.content {
  font-size: 150%;
  margin: 10px 0 0 10px;
}

.sep {
  color: turquoise;
}

.directive {
  color: blue;
}

.key {
  color: green;
}
